rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read/write their own data
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;

      match /companies/{companyId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }

      match /candidates/{candidateId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
  }
}
